<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soccer_organizer.soccerorganizer">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.soccer_organizer.soccerorganizer.AdministradorLigaActivity"
            android:label="@string/app_name"/>
        <activity android:name="com.soccer_organizer.soccerorganizer.AdministradorRolesActivity"
            android:label="@string/app_name"/>
        <activity android:name=".ArbritosActivity" />
        <activity android:name=".BienvenidoDtDueActivity" />
        <activity android:name=".CanchasActivity"></activity>
        <activity android:name=".ListaEquiposActivity" />
        <activity android:name=".ListaJugadoresActivity" />
        <activity android:name=".MenuDTActivity" />
        <activity android:name="com.soccer_organizer.soccerorganizer.MenuDuenoLigaActivity"
            android:label="@string/app_name"/>
        <activity android:name=".MenuJugadoresActivity"></activity>
        <activity android:name=".MenuSecundario" />
        <activity android:name=".RegistraJugadoresActivity" />
        <activity android:name=".RegistroResultadosActivity" />
        <activity android:name=".RolesActivity" />
        <activity android:name=".TablaGeneralActivity" />
        <activity android:name=".UbicacionCanchaActivity" />
          <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />












    </application>

</manifest>